@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  overflow-x: hidden !important;
}
.slick-arrow{
  /* display:none !important; */
  width: 20px  !important;
  height: 20px  !important;
  /* color: gray  !important; */
  /* border: 1px solid gray !important; */
  border-radius: 50%  !important;
  /* background-color: gray !important; */
}
.slick-prev:before{
 color: gray  !important;
 width: 20px  !important;
 height: 20px  !important;

 @media screen and (max-width:648px) {
  display: none !important;
  
 }
}
.slick-next:before{
 color: gray  !important;
 width: 20px  !important;
 height: 20px  !important;

 @media screen and (max-width:648px) {
  display: none !important;
  
 }
}
/* .slick-next{
  display:none !important ; 
} */

.control-arrow >button {
background-color: white !important;
/* color: white !important; */
}



.control-prev {
width: 40px !important;
>button{
  width: 20px !important;
  height: 20px !important;
}
}
.control-next {
width: 40px !important;
>button{
  width: 20px !important;
  height: 20px !important;
}
}


::-webkit-scrollbar {
  width: 4px !important;
}

