@tailwind base;
@tailwind components;
@tailwind utilities;

.slick-arrow{
  /* display:none !important; */
  width: 20px  !important;
  height: 20px  !important;
  /* color: gray  !important; */
  /* border: 1px solid gray !important; */
  border-radius: 50%  !important;
  /* background-color: gray !important; */
}
.slick-prev:before{
 color: gray  !important;
 width: 20px  !important;
 height: 20px  !important;
}
.slick-next:before{
 color: gray  !important;
 width: 20px  !important;
 height: 20px  !important;
}
/* .slick-next{
  display:none !important ; 
} */

